@page "/"
@using GridCustomShortcuts.Services
@inject IJSRuntime JS
@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WeatherForecastService ForecastService
@implements IAsyncDisposable

<PageTitle>Blazor Grid Keyboard Shortcuts</PageTitle>
<h1>Weather Forecast</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div @ref="gridWrapper">
        <DxGrid @ref="grid" Data="@forecasts"
                FocusedRowEnabled="true"
                EditModelSaving="OnEditModelSaving"
                CssClass="mw-1100">
            <Columns>
                <DxGridSelectionColumn Width="70px" />
                <DxGridDataColumn Caption="Date" FieldName="Date" />
                <DxGridDataColumn Caption="Temperature (C)" FieldName="TemperatureC" />
                <DxGridDataColumn Caption="Temperature (F)" FieldName="TemperatureF" />
                <DxGridDataColumn Caption="Summary" FieldName="Summary" />
            </Columns>
        </DxGrid>
    </div>

    <DxPopup HeaderText="@($"Weather Forecast for {selectedForecast?.Date:m}")"
             @bind-Visible="@popupVisible">
        <p><b>Temperature:</b> @selectedForecast?.TemperatureC °C</p>
        <p><b>Summary:</b> @selectedForecast?.Summary</p>
    </DxPopup>
}

@code {
    private WeatherForecast[]? forecasts;
    private bool popupVisible;
    private ElementReference gridWrapper;
    private WeatherForecast? selectedForecast;
    private IGrid grid;
    private IJSObjectReference? module;
    private DotNetObjectReference<Index>? dotNetHelper;

    [JSInvokable]
    public async Task HandleKeyDown()
    {
        var focusedItem = grid.GetFocusedDataItem() as WeatherForecast;
        if (focusedItem == null)
            return;
        await grid.SaveChangesAsync();
        selectedForecast = focusedItem;
        popupVisible = true;
        StateHasChanged();
    }

    [JSInvokable]
    public async Task SelectAllRows()
    {
        await grid.SelectAllAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Components/Pages/Index.razor.js");
            dotNetHelper = DotNetObjectReference.Create(this);
            await module.InvokeVoidAsync("addCaptureKeyListener", gridWrapper, dotNetHelper);
        }
    }

    private void OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        e.CopyChangesToDataItem();
    }

    public async ValueTask DisposeAsync()
    {
        dotNetHelper?.Dispose();
        if (module is not null)
        {
            try
            {
                await module.InvokeVoidAsync("removeCaptureKeyListener");
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}